<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>


  <!--
      Categories for this code base.
      -->
  <logger name="com.purplepip" level="INFO"/>
  <logger name="com.purplepip.odin.store" level="DEBUG"/>

  <!--
      Log messages for spring bean creation and access.
      -->
  <logger name="org.springframework" level="DEBUG"/>
  <logger name="org.springframework.beans" level="INFO"/>

  <!--
      Log messages for spring application context caching.  Spring tests use multiple application
      contexts using caching to share contexts where appropriate.  These messages can help
      understand how this logic is taking place.
      -->
  <logger name="org.springframework.test.context.cache" level="DEBUG"/>

  <!--
      Hibernate logging.
      -->
  <logger name="org.hibernate" level="INFO"/>
  <logger name="org.hibernate.SQL" level="DEBUG"/>
  <logger name="org.hibernate.event.internal" level="DEBUG"/>
  <logger name="org.hibernate.engine.internal" level="DEBUG"/>
  <logger name="org.hibernate.internal.util" level="INFO"/>
  <logger name="org.hibernate.hql.internal.ast.AST" level="INFo"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>