.classpath
.idea/sonarlint
.idea/workspace.xml
.factorypath
.project
.settings/
.vim/
target/
odin-frontend/build/
odin-frontend/node_modules/
odin-frontend/node/
odin-frontend/src/main/resources/com/purplepip/odin/web/app
