<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>synthesizer</title>
</head>
<body>
<div layout:fragment="content">
  <table>
    <h1>Instruments</h1>
    <div th:if="${synthesizer != null}">
      <th:block th:each="instrument : ${synthesizer.loadedInstruments}">
        <tr>
          <td th:text="${instrument.patch.bank}"/>
          <td th:text="${instrument.patch.program}"/>
          <td th:text="${instrument.name}"/>
        </tr>
      </th:block>
    </div>
    <div th:if="${synthesizer == null}">No Synthesizer is available</div>
  </table>
</div>
</body>
</html>

