<!DOCTYPE html>
<html layout:decorator="layout" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:with="requireVextabJs=true">
<head>
  <title>composer</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Composer</h1>
  <script>
    VEXTAB_USE_SVG = true
  </script>
  <div class="vex-tabdiv"
       width="680" scale="1.0" editor="true"
       editor_width="680" editor_height="200">stave
key=A time=4/4
notes Cn-D-E/4 F#/5</div>
</div>
</body>
</html>