<!DOCTYPE html>
<html layout:decorator="layout" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>composer</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Composer</h1>
  <script>
    VEXTAB_USE_SVG = true
    Artist.NOLOGO = true
  </script>
  <div class="vex-tabdiv"
       width="680" scale="1.0" editor="true"
       editor_width="680" editor_height="200">stave
key=A time=4/4
notes :q =|: (5/2.5/3.7/4) :8 7-5h6/3 ^3^ 5h6-7/5 ^3^ :q 7V/4 |</div>
</div>
</body>
</html>